//colors
$color-primary: rgb(27, 190, 195);
$color-primary-light: rgb(120, 204, 207);
$color-primary-dark: rgb(8, 100, 104);

$color-secoundary-light: rgb(255, 179, 0);
$color-secoundary-dark: rgb(185, 88, 9);

$color-tertiary-light: rgb(243, 4, 4);
$color-tertiary-dark: rgb(95, 14, 14);

$color-drark: #424242;
$color-light: #f1eeee;

$color-grey-lg-1: #cacaca;
$color-grey-dark: #999;

$color-black: rgb(0, 0, 0);

//font-sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
