.row__feature {
  transform: skewY(3.8deg);
}

.feature-box {
  background-color: rgba($color-light, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
  transition: transform 0.3s;

  @include respond(tab-middle) {
    height: 353.55px;
  }

  @include respond(tab-port) {
    padding: 2rem;
    height: auto;
  }

  @include respond(phone) {
    width: 70%;
    margin: 0 auto;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.feature-icon {
  font-size: 6rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
